---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 2
AccessModifierOffset: -1
PointerAlignment: Right
BreakTemplateDeclarations: Yes
# PenaltyBreakString: 10000
# ColumnLimit: 80
