// Left Monitor
output "DP-2" {
  mode "1920x1080@60.000"
  transform "90"
  position x=0 y=0
  layout {
    default-column-width { proportion 1.0; }
    struts {
        left 16
        right 16
    }
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    // preset-window-heights { }
  }
}

// Center Monitor
output "DP-1" {
  mode "2560x1440@144.000"
  position x=1080 y=0
  variable-refresh-rate on-demand=true
  layout {
    default-column-width { proportion 0.5; }
    struts {
        left 32
        right 32
    }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
  }
  focus-at-startup
}

// Right Monitor
output "HDMI-A-1" {
  mode "1920x1080@60.000"
  transform "270"
  position x=3640 y=0
  layout {
    default-column-width { proportion 1.0; }
    struts {
        left 16
        right 16
    }
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
  }
}

workspace "browser" {
  open-on-output "DP-1"
}
workspace "terminal" {
  open-on-output "DP-1"
}
workspace "emacs" {
  open-on-output "DP-2"
}
workspace "passwords" {
  open-on-output "DP-2"
}
workspace "utilities" {
  open-on-output "DP-2"
}
workspace "chat" {
  open-on-output "HDMI-A-1"
}
workspace "music" {
  open-on-output "HDMI-A-1"
}

// Named Workspace Rules
// main monitor
window-rule {
  match at-startup=true app-id=r#"firefox$"#
  open-on-workspace "browser"
  open-maximized true
}
window-rule {
  match at-startup=true app-id=r#"kitty$"#
  open-on-workspace "terminal"
  open-maximized true
}
// left monitor
window-rule {
  match at-startup=true app-id=r#"Emacs$"#
  open-on-workspace "emacs"
  open-maximized true
}
window-rule {
  match at-startup=true app-id=r#"^org\.keepassxc\.KeePassXC$"#
  open-on-workspace "passwords"
  open-maximized true
  // default-column-width { proportion 0.50; }
}
window-rule {
  match at-startup=true app-id=r#"konsole$"#
  open-on-workspace "utilities"
  open-maximized true
  // default-column-width { proportion 0.50; }
}
window-rule {
  match at-startup=true app-id=r#"xwaylandvideobridge$"#
  open-on-workspace "utilities"
  open-maximized false
}
// right monitor
window-rule {
  match at-startup=true app-id=r#"discord$"#
  open-on-workspace "chat"
  open-maximized true
  // default-column-width { proportion 0.50; }
}
window-rule {
  match at-startup=true app-id=r#"konversation$"#
  open-on-workspace "chat"
  open-maximized true
  // default-column-width { proportion 0.50; }
}

window-rule {
    match app-id=r#"foobar2000$"#
    open-maximized true
}
