[Unit]
Description=kmonad macro-pad config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /home/jordan/.config/kmonad/kmonad_havit.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
