[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /home/jordan/.config/kmonad/kmonad_legion_slim_7.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
